<?xml version="1.0" encoding="UTF-8"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>ct</short-name>
    <uri>customtags</uri>

    <tag>
        <name>footer</name>
        <tag-class>by.epam.restaurant.tag.FooterTag</tag-class>
        <body-content>empty</body-content>
    </tag>

    <tag>
        <name>dropdown-user</name>
        <tag-class>by.epam.restaurant.tag.DropdownUserTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>user</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>profile</name>
        <tag-class>by.epam.restaurant.tag.ProfileTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>user</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>