body {
    background: url('/resources/img/broken-wine-glass.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000;
}

.error-data {
    font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}